# Python Basic Exercises

## Exercise 0:

create a program that take a name from a user and print hello with the name of the user.
- Example:

``` input: Hamid```

```output: Hello Hamid```

In [2]:
name = input("Enter your name ")
print("hello", name)

Enter your name Nouredine
hello Nouredine

## Exercise 1:

write a program that take a string from a user, and print the string with capitalize the vowels letters {a, o, u, i, e}.

**Example:**

`hello world`

**output:**

`hEllO wOrld`

In [6]:
# your code goes here
def cap_vow(a):
    for i in a:
        if i in "aouie":
            print(i.upper(), end = ' ')
        else:
            print(i, end = ' ')
cap_vow('test')

t E s t

## Exercise 2:

create a program that take a two numbers from a user and print their sum and multiplication.
- Example:

```
input 1: 3
input 2: 4
```

```
program output:

multiplication of 3 and 4 is 12
sum of 3 and 4 is 7
```

In [ ]:
#create a program that take a two numbers from a user and print their sum and multiplication.

#first method:
def add_multiply(a,b):
    print("Multiplication of",a,"and",b,"is",a*b,"\n")
    print("Sum of",a,"and",b,"is",a+b)
    return

a = int(input("a = "))
b = int(input("b = "))
add_multiply(a,b)

#second method:
def add_multiply1(a,b):
    print("Multiplication of %d and %d is %d.\n" % (a,b,a*b))
    print("Sum of %d and %d is %d." % (a,b,a+b))
    return

a = int(input("a = "))
b = int(input("b = "))
add_multiply1(a,b)

## Exercise 3: 

Display three string “Name”, “Is”, “James” as “Name**Is**James”

Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

**Expected Output:**

For example: print('Name', 'Is', 'James') will display Name**Is**James

In [1]:
#printing without the spaces between the strings
print('Name','Is','James', sep = '')

#printing with ** between the strings
print('Name','Is','James', sep = '**')

NameIsJames
Name**Is**James

## Exercise 4:

Print First 10 natural numbers using while loop

*Expected output:*
```
1
2
3
4
5
6
7
8
9
10
```

In [3]:
#Print First 10 natural numbers using while loop

i=1
while (i<11):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

## Exercise 5:

Write a program to print the following number pattern using a loop.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [4]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Exercise 5:
- write a program that take a number from the user and print the multiplication table of that number.

** Example:**
5
```
1 * 5 = 5
2 * 5 = 10
...
12 * 5 = 60
```

In [ ]:
def mult_table(a):
    for i in range(1,13):
        print("%d * %d = %d" % (i,a,i*a))
    return
a=int(input('a = '))
mult_table(a)

## Exercise 6: Calculate the multiplication and sum of two numbers

Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

- given 1:
```python
number1 = 20
number2 = 30
```
- output:
```
The result is 600
```
- given 2:
```python
number1 = 40
number2 = 30
```
- output:
```
The result is 70
```

In [ ]:
def sum_mult(a,b):
    if (a*b < 1000):
        print("The result is: %d.\n" % (a*b))
    else:    
        print("The result is: %d.\n" % (a+b))
    return

number1 = int(input("number1 = "))
number2 = int(input("number2 = "))
sum_mult(number1,number2)

## Exercise 5:

Check if the first and last number of a list is the same
Write a function to return `True` if the first and last number of a given list is same. If numbers are different then return `False`.

**Given:**
```python
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
```

**Expected Output:**
```
Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False
```

In [7]:
def check_list(L):
    a= (L[0]== L[-1])
    print("Result is: ",a)
    return(a) 

check_list([10, 20, 30, 40, 10])
check_list([75, 65, 35, 75, 30])

Result is:  True
Result is:  False

False