# Weclome to Pandas DataFrames exercises

In this exercise, we are using Automobile Dataset for data analysis. This Dataset has different characteristics of an auto such as body-style, wheel-base, engine-type, price, mileage, horsepower.

you can find the data in the data folder under `Automobile_data.csv`name

### Exercise 1:

From the given dataset print the first and last five rows
![pandas_printing_first_5_rows.webp](../data/pandas_printing_first_5_rows.webp)
Python Pandas printing first 5 rows

![pandas_printing_last_5_rows.webp](../data/pandas_printing_last_5_rows.webp)
Python Pandas printing last 5 rows

### Exercise 2:

**Clean the dataset and update the CSV file**

Replace all column values which contain `?`, `n.a`, or `NaN`.

### Exercise 3:
**Find the most expensive car company name**

Print most expensive car’s company name and price.

**Expected Output:**
![pandas_printing_most_costly_car_name.webp](../data/pandas_printing_most_costly_car_name.webp)

### Exercise 4:
**Print All Toyota Cars details**

**Expected Output:**
![pandas_printing_all_toyota_car_data.webp](../data/pandas_printing_all_toyota_car_data.webp)

### Exercise 5:
Count total cars per company

**Expected Outcome:**

![pandas_count_total_cars_per_company.webp](../data/pandas_count_total_cars_per_company.webp)

### Exercise 6:
Find each company’s Higesht price car

**Expected Outcome:**

![pandas_printing_each_companys_higesht_price_car.webp](../data/pandas_printing_each_companys_higesht_price_car.webp)

### Exercise 7:
Find the average mileage of each car making company

**Expected Output:**

![pandas_printing_average_mileage_of_each_car_making_company.webp](../data/pandas_printing_average_mileage_of_each_car_making_company.webp)

### Exercise 8:
Sort all cars by Price column

**Expected Output:**

![pandas_sort_all_cars_by_price_column.webp](../data/pandas_sort_all_cars_by_price_column.webp)

### Exercise 9:

Concatenate two data frames using the following conditions

Create two data frames using the following two dictionaries.

```python
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
```

**Expected Output:**

![pandas_concatenate_two_data_frames_and_create_key_for_each_data_frame.webp](../data/pandas_concatenate_two_data_frames_and_create_key_for_each_data_frame.webp)

### Exercise 10:

**Merge two data frames using the following condition**

Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

```python
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}
```

**Expected Output:**

![merge_two_data_frames_and_append_new_data_frame_as_new-column.webp](../data/merge_two_data_frames_and_append_new_data_frame_as_new-column.webp)